// Global colors
$bar: #252f3d;
$text_primary: #381d2a;
$text_second: #4d5254;
$blue: #2c7ef8;
$sweet_blue: rgba(44, 126, 248, 0.1);
$green: #59ae43;
$green_v2: #5bb59a;
$grey: #cfcfcf;
$white: #fff;

// Media querys
$queryXs: 480px;
$querySm: 640px;
$queryMd: 768px;
$queryLg: 1024px;
$queryXl: 1400px;

//Mixins
@mixin flex($direction, $justify, $align, $gap: 0) {
	display: flex;
	flex-direction: $direction;
	justify-content: $justify;
	align-items: $align;
	gap: $gap;
}
@mixin width-height($width, $height) {
	width: $width;
	height: $height;
}
@mixin fontSize-fontWeight($size, $weight) {
	font-size: $size;
	font-weight: $weight;
}